ctranslate2>=3.18.0
datasets>=2.13.1
evaluate>=0.4.0
gradio>=3.40.1
lightning>=2.0.2
pyyaml>=6.0
rich>=13.2.0
sacrebleu>=2.3.1
sacremoses>=0.0.53
sentencepiece>=0.1.97
tensorboard>=2.11.0
torch>=1.13.1
torchmetrics>=1.0.3
tqdm>=4.64.1
transformers>=4.30.2
wandb>=0.15.4
